  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
	  This is the home page for the
	  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	  sample application. 
	  <br>
	  I have been working through this tutorial over the past few months. I'm in the final stages - the final result will be a small microposts site with functional similarity to twitter.
    <br>
    As you assess this site in regards to my eligibility to the Capstone class, please know a few things:
    <br>
    I submitted this as my work sample because, though I have been working alongside a tutorial, this is the longest and most difficult project I have taken on to this day. This is a Ruby on Rails app - I picked up the language by trying, failing, asking questions, and challenging myself to make things.
    <br>
    I hope you'll take a minute to make an account. The site is secure, and all passwords are encrypted before being saved to the database. Poke around and check out the functionality of the app.
    <br>
    Lastly, from a design perspective, I know this site looks like every other bootstrap-based site ever. Sorry. After I get all the functionality down, I will spend some time making the bootstrap theme a little less obvious.
    <br>
    Thanks so much for visiting the site and considering me for Capstone,
    <br>
    -Ellis Edwards-
    </h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
  
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>